<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Configurate server</h1>
<form action="" method="post" name="Configurate">
    {{form.hidden_tag()}}
    <p>    
        Please make sure your server is on, and IP address is reachable.<br>
        
        <br>Enter IP address:<br>
        {{form.server_ipadress(size=25)}}
    </p>
    <p>
        Enter port:<br>
        {{form.server_port(size=4)}}
    </p>
    <p>
        Enter project name:<br>
        {{form.project_name(size=30)}}
    </p>
    <p>
        Enter username:<br>
        {{form.username(size=30)}}
    </p>
    <p>
        Enter password:<br>
        {{form.password(size=30)}}
    </p>
    <p><input type="submit" value="Reconfigurate"></p>
</form>
{% endblock %}
